<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <link href="{% static 'css/home.css'  %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender</title>

</head>
<body>
    <div>
        <header>
            <a href="#">LOGIN</a>
            <a href="#"> SIGN UP</a>
        </header>
    </div>
    <div id="site_name">
        <h1>Movie Torenzzzz</h1>
    </div>
</body>
</html>