<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
        rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/movie_page.css'  %}" rel="stylesheet">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="search__center">
        <header>
            <h1>Cinema Hall <i class="fas fa-film"></i> </h1>

        </header>
        <div class="search__bar">
            <div class="search__movie">
                <input placeholder="search" id="specific_movie" type="text" value="">
            </div>
            
        </div>
        <div class="specific__search">

            <div>
                <div id="heading">
                    Select Genre
                </div>
                <select class="genre" id="imdb__genre">
                    <option hidden value=""></option>
                    <option value="28">Action</option>
                    <option value="12">Adventure</option>
                    <option value="16">Animation</option>
                    <!-- <option value="Biography">Biography</option> -->
                    <option value="35">Comedy</option>
                    <option value="80">Crime</option>
                    <option value="99">Documentary</option>
                    <option value="18">Drama</option>
                    <option value="10751">Family</option>
                    <option value="14">Fantasy</option>
                    <!-- <option value="Film Noir">Film Noir</option> -->
                    <option value="36">History</option>
                    <option value="27">Horror</option>
                    <option value="10402">Music</option>
                    <option value="9648">Mystery</option>
                    <option value="10749">Romance</option>
                    <option value="878">Sci-Fi</option>
                    <option value="10770">Short Film</option>
                    <!-- <option value="Sport">Sport</option>
                    <option value="Superhero">Superhero</option> -->
                    <option value="53"> Thriller</option>
                    <option value="10752">War</option>
                    <option value="37">Western</option>
                </select>
            </div>

            <div>
                <div id="heading">
                    Sort by Ratings
                </div>
                <select class="ratings">
                    <option hidden value=""></option>
                    <option value="1">1+</option>
                    <option value="2">2+</option>
                    <option value="3">3+</option>
                    <option value="4">4+</option>
                    <option value="5">5+</option>
                    <option value="6">6+</option>
                    <option value="7">7+</option>
                    <option value="8">8+</option>
                    <option value="9">9+</option>
                </select>
            </div>
            <div>
                <div id="heading">
                    YEAR
                </div>
                <select id="years">
                    <option value="">select year</option>

                </select>
            </div>
        </div>
        <div class="search__button">
            <button id="search_movie">
                Search
            </button>
        </div>
    </div>

    <div id="button_1">

        <button id="previous__list" value="1" name="page"> Previous Page </button>
        <button id="next__list" value="1" name="page">Next Page </button>
        <input type="number" id="page_number" placeholder="max 500">
        <button id="by_page">search by page</button>

    </div>
    <div id="current_page">

    </div>
    <div id="list_of__pictures">
        <table id="table_row">

            {% for item1,id1,id2,item2,alt1,alt2,fig_cap_1,fig_cap_2,imdb_1,imdb_2,movie_id1,movie_id2 in links %}
            <tr id="table_rows">
                <td>
                    <figure>
                        <a href="/movie_info/{{movie_id1}}" id={{movie_id1}}>
                            <img class='poster' src={{item1}} id={{id1}} alt={{alt1}}>
                        </a>
                        <div id={{fig_cap_1}} hidden>
                            <figcaption>
                                <h4>{{imdb_1}}</h4>
                                <h4>{{alt1}}</h4>

                            </figcaption>
                        </div>
                    </figure>

                </td>
                <td>
                    <figure>
                        <a href="/movie_info/{{movie_id2}}" id={{movie_id2}}>
                            <img class='poster' src={{item2}} id={{id2}} alt={{alt2}}>
                        </a>
                        <div id={{fig_cap_2}} hidden>
                            <figcaption>

                                <h4>{{imdb_2}}</h4>
                                <h4>{{alt2}}</h4>

                            </figcaption>
                        </div>
                    </figure>


                </td>
            </tr>

            {% endfor %}

        </table>

    </div>

    <div id="button_2">

        <button id="bottom_previous__list" value="1" name="page"> Previous Page </button>
        <button id="bottom_next__list" value="1" name="page">Next Page </button>
        <input type="number" id="page_numbero" placeholder="max 500">
        <button id="bottom_by_page">search by page</button>

    </div>

    </script>
    <script src="{% static '/javascripts/config.js'%}" type="text/javascript"></script>
    <script>

        const data = JSON.parse(("{{data|escapejs}}"))

    </script>

    <script src="{% static '/javascripts/movie_page.js'%}" type="text/javascript"></script>

</body>

</html>