/* #site_name{
   align-items: center;
   text-align: center;
} */

.main_div {
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    margin-top: 30px;
}

body{
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}
/* p{
    font-size: 25px;
    float: left;
    margin-left: 30px;
    padding: 14px 16px;
    text-align: center;
    margin-bottom: 3px;
    display: block;
    margin: auto;
} */

header{
    /* display: flex; */
    /* flex-flow:row-reverse; */
    /* padding: 2%; */
    background-color: bisque;
    position:fixed;
     top: 0; 
     width: 100%;
    overflow: hidden;
    height: 60px; 
    
}

a{
    float: right;
    font-size: 17px;
    padding: 14px 16px;
    float: right;
    display: block;
    text-decoration: none;
    /* text-align: center; */
    margin: auto;
}

#counter{
    font-size: 40px;
    margin-right: 8%;
    margin-top: 35%;
}



#posters{
    height: 400px;
    width: 200px;
    padding: 3%;
}

#posters:hover{
   transform: scale(1.2);
   transition-duration: 0.4s;
}

#main_page_poster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    background-color: black;
}

/* .poster{
    max-width: 960px;
    margin: 0 auto;
} */

/* @media  (max-width:480px){
    .poster{
        background-image: url('/static/images/cinema_mobile.jfif');
         background-size:contain; 
    }
}

@media  (min-width:480px) and (max-width:1024px){
    .poster{
        background-image: url('/static/images/cinema_mobile.jfif');
    }
}

@media   (min-width:1024px){
    .poster{
        background-image: url('/static/images/cinema.jpg');
    }
} */

@media only screen and (max-width:1024px){
    #posters{
        height: 100px;
        width: 100px;
    } 

     /* .poster {
        max-width: 960px;

    } */

    .poster background-image{
        width: 100%;
        padding-top: 66%;
    }

}


/* .container .container2{
    max-width: 100%;
    margin: 0 auto;
    
} */

/* .bg-image {
    display: flex;
    width: 100%;
    padding-top: 66%;
    margin: auto;
    background: url('/static/images/cinema.jpg') no-repeat center;
    background-size: contain;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
}

.bg-image2 {
    display: flex;
    width: 100%;
    padding-top: 66%;
    margin: auto;
    background: url('/static/images/projector.jpg') no-repeat center;
    background-size: contain;
    text-align: center;
    align-items: center;
    justify-content: center;
} */


.bg-image2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto;
    width: 100%;
    background: url('/static/images/projector.jpg') no-repeat center;
    background-size: cover;
    padding-top: 66%;
}

.bg-image2 p{
    /* margin-right: 10px; */
    font-size: 130px;
    margin-left: 80%;
    margin-bottom: 85%;
    color: black;
}
.bg-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    background: url('/static/images/cinema.jpg') no-repeat center;
    background-size: cover;
    padding-top: 66%;
    /* height: 1452px; */
    
}

.bg-image2::after{
    content: '';
    /* position:absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2)
}

button{
    width: 100%;
    height: 40px;
    align-items: center;
}