#site_name{
    
    text-align: center;
    margin-top: 5%
}

p{
    font-size: 25px;
    float: left;
    /* margin-left: 30px; */
    padding: 14px 16px;
    text-align: center;
    /* margin-bottom: 3px; */
    display: block;
    margin: auto;
}

header{
    /* display: flex; */
    /* flex-flow:row-reverse; */
    /* padding: 2%; */
    background-color: bisque;
    position:fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 60px;
    
}

a{
    float: right;
    font-size: 17px;
    padding: 14px 16px;
    float: right;
    display: block;
    text-decoration: none;
    /* text-align: center; */
    margin: auto;
}