header{
    text-align: center;
}

.search__movie{
    /* align-items: center;
    margin-left: 50%; */
    text-align: center;
    margin-top: 5%;
    
}

.search__bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.search__movie input{
    text-align: left;
    color: black;
    width: 1000px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    border: 5px solid black;
    outline: none;
    /* background: transparent; */
    box-shadow: 5px 10px 1px rgb(0, 0, 0,0.5);

}

.specific__search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
    justify-content: space-evenly;
}

.search__button{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    

}

.search__button button {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.genre ,.sort__by ,.ratings{
    width: 130px;
    height: 20px;
    font-size: 20px;
}

body {
    background-color: rgba(0,0,0,0.8);
    color: white;
    
}

#heading{

    font-size: 30px;
    margin-bottom: 2%;
}

.search__center{
    /* background-color:rebeccapurple; */
    /* height: 120%; */
    padding: 10px;
    /* position: relative; */
}

/* .search__center::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
} */

/* #list_of__pictures{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
    flex: 50%;
} */

#poster{
    height: 400px;
    width: 200px;
    padding: 3%;
}

table{
    width: 100%;
    align-items: center;
    
}
tr{
    align-items: center;
}

td{
    /* padding: 10%; */
    text-align: center;
}

