header{
    text-align: center;
}

.search__movie{
    /* align-items: center;
    margin-left: 50%; */
    text-align: center;
    margin-top: 5%;
    
}

.search__movie input{
    text-align: center;
    width: 200vh;
    height: 30px;
    border-radius: 10%;
    

}

.specific__search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
    justify-content: space-evenly;
}

.search__button{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.genre ,.sort__by ,.ratings{
    width: 130px;
    height: 20px;
}